.has-bg-img {
  background: url("../assets/ferret-bg.png") center center;
  background-size: cover;
}
.has-max-width {
  max-width: 400px;
}

.is-nudged-down {
  transform: translateY(20vh);
}

.has-margin-left {
  margin-left: 10px;
}
